@import '../../styles/variables';
@import '../../styles/colours';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.deck-accolades {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    margin-top: 10px;
}

.deck-accolade-image {
    width: 40px;
    height: auto;
    margin: 0 4px;
    opacity: 0.5;
    transition: opacity 0.2s;

    &.selected {
        opacity: 1;
        box-shadow: 0 0 0 1px theme-color('info');
        border-radius: 4px;
    }

    &.disabled {
        opacity: 0.3;
    }

    &:hover:not(.disabled) {
        opacity: 0.8;
    }
}

.deck-houses {
    margin-top: 15px;
    padding: 5px 0;
    background-color: rgba(theme-color('primary'), 0.4);
}

.deck-house {
    padding-left: 15px;
}

.deck-house-image {
    width: 32px;
}

.deck-cards {
    padding-top: 15px;
}

.deck-enhancements {
    padding-left: 12px;
    padding-top: 15px;
}

.deck-enhancement {
    padding-right: 2px;
    padding-left: 2px;
}

.deck-img-enhancement {
    height: 20px;
    width: 20px;
}

.deck-text-enhancement {
    padding-left: 5px;
}

.deck-card-link {
    cursor: pointer;
    cursor: hand;
    color: theme-color('secondary');
}

.deck-card-link:hover {
    color: theme-color('info');
}

.small-card-icon {
    width: 16px;
    height: 16px;
}

.deck-summary {
    margin-top: 15px;
}

.decklist-card-zoom {
    position: fixed;
    top: 0px;
    left: 0px;
    width: $keyteki-card-width * 4;
    z-index: 999;
}

.enhanced-card {
    color: #4f779b;
}
