@use '../../styles/variables' as *;
@use '../../styles/colours' as *;

.deck-status-summary {
    font-size: 12px;

    .valid {
        color: app-color('success');
    }

    .popular {
        color: app-color('warning');
    }

    .used {
        color: app-color('warning');
    }

    .notorious {
        color: app-color('danger');
    }

    .invalid {
        color: app-color('danger');
    }

    .not-verified {
        color: app-color('info');
    }
}


