@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.deck-list {
    padding-top: 15px;

    .table-hover {
        tbody {
            tr:hover {
                background-color: rgba(theme-color('info'), 0.3);
            }
        }
    }

    table {
        tr {
            td {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
}

.deck-image {
    padding-left: 0;
    padding-right: 0;
    width: 30px;
}

.hover-card {
    position: fixed;
    top: 60px;
    left: 10px;
    z-index: $layer-top;
    min-width: $keyteki-card-width * 4;
    min-height: $keyteki-card-height * 4;
    pointer-events: none;

    &.horizontal {
        min-height: $keyteki-card-width * 4;
        min-width: $keyteki-card-height * 4;
    }
}

.hover-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: $layer-top;
}

.deck-expansion {
    max-width: 15px;
    margin: 2px;
}

.selected-deck {
    background-color: rgba(theme-color('primary'), 0.7);
}
