@use '../../styles/variables' as *;
@use '../../styles/colours' as *;

.deck-status {
    text-align: center;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 4px;
    color: black;

    &.valid {
        background: app-color('success');
    }

    &.casual-play {
        background: app-color('warning');
    }

    &.used {
        background: app-color('warning');
    }

    &.popular {
        background: app-color('warning');
    }

    &.notorious {
        background: app-color('danger');
    }

    &.invalid {
        background: app-color('danger');
    }

    &.not-verified {
        background: app-color('info');
    }
}

.popover-body {
    background-color: #0e0b10;
}

.popover {
    background-color: #0e0b10;
    color: white;
    //width: 300px;

    ul {
        padding: 0;
    }

    li {
        list-style: none;
        margin: 4px 0;
    }
}

.popover.bs-popover-right {
    .arrow {
        &:after {
            border-right-color: #0e0b10;
        }
    }
}


