@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.deck-houses {
    margin-top: 15px;
    padding: 5px 0;
    background-color: rgba(theme-color('primary'), 0.4);
}

.deck-house {
    padding-left: 15px;
}

.deck-house-image {
    width: 32px;
}

.deck-cards {
    padding-top: 15px;
}

.deck-card-link {
    cursor: pointer;
    cursor: hand;
    color: theme-color('secondary');
}

.deck-card-link:hover {
    color: theme-color('info');
}

.small-card-icon {
    width: 16px;
    height: 16px;
}

.deck-summary {
    margin-top: 15px;
}

.card-zoom {
    position: fixed;
    top: 0px;
    left: 0px;
    width: $keyteki-card-width * 4;
    z-index: 999;
}
