@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.game-row {
    min-height: 130px;
    padding: 10px 5px;
}

.game-player-row {
    display: flex;
    flex-direction: column;
    flex: 1;

    &.first-player {
        margin-right: 10px;
        align-items: flex-end;
    }

    &.other-player {
        margin-left: 10px;
        align-items: flex-start;
    }
}

.game-faction-row {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;

    .gamelist-button {
        height: 34px;
        width: 122px;
    }

    img {
        height: 20px;
    }
}

.game-header-row {
    text-align: center;
    font-size: 1em;
}

.game-middle-row {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-row-buttons {
    text-align: center;
}

.game-player-name {
    font-size: 1.1em;
}

.game-header {
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.first-player {
    .game-player-name {
        margin-right: 5px;
    }

    .faction-mini {
        margin-left: 10px;
    }
}

.other-player {
    .faction-mini {
        margin-right: 10px;
    }

    .game-player-name {
        margin-left: 5px;
    }
}

.join-buttons {
    display: flex;
    flex-direction: column;
}

.game-type {
    margin-top: 5px;
}

.house-icons {
    display: flex;
    margin-top: 4px;
    img {
        height: 21px;
    }
}

.game-list {
    hr {
        border-top-color: theme-color(primary);
        margin: 0;
    }
}

.game-row:hover {
    border-color: theme-color(info);
    background-color: rgba(theme-color(info), 0.2);
}

.game-row.active {
    border-color: theme-color(info);
    color: theme-color(danger);
}

.node1 {
    background-color: rgba(theme-color(warning), 0.2);
}

.node2 {
    background-color: rgba(theme-color(danger), 0.2);
}

.game-list-icon {
    height: 1.5em;
    width: 1.5em;
    filter: invert(90%);
}
