@use '../../styles/variables' as *;
@use '../../styles/colours' as *;
@use 'sass:map';

@media (min-width: map.get($grid-breakpoints, sm)) {
    .game-buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        button:first-of-type {
            margin-bottom: 10px;
        }
    }
}

.form-check-inline {
    margin-bottom: 0.25rem;
}

