@use '../../styles/variables' as *;
@use '../../styles/colours' as *;

.deck-selection {
    margin-left: 10px;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 4px;
    background: theme-color('primary');
    color: white;
}

.player-row {
    min-height: 35px;
}

