@use '../../styles/variables' as *;
@use '../../styles/colours' as *;

.modal-title {
    font-weight: bold;
    color: white;
    font-size: 0.9rem;
}

.modal-header {
    text-align: center;
}

.modal-content {
    background-color: rgba(theme-color('dark'), 0.9);
}

.deck-list-header {
    margin-left: 15px;
}

.close {
    color: white;
}

