#container {
    margin: 0 auto;
}

.navbar-right {
    margin-right: 0px;
}

.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-toggle {
    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
}

.navbar-nav > li > span {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}

@media (min-width: 768px) {
    .navbar-nav > li > span {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.spectators-popup {
    position: absolute;
    width: 115px;
    padding-left: 15px;
    list-style-type: none;
}

.selected {
    box-shadow: 0 0 1px 4px @brand-secondary;
}

.bg-label {
    display: inline-block;
    width: 100%;
    text-align: center;
}

ul.htp-main-list,
ul.htp-sub-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.htp-main-list {
    font-weight: bold;
}

ul.htp-sub-list {
    font-weight: normal;
    margin-left: 20px;
}

.htp-topic,
.htp-subtopic {
    margin: 15px 0;
}

.htp-title,
.htp-intro {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.htp-subtitle {
    font-weight: bold;
    font-style: italic;
    margin-left: 5px;
    padding-left: 8px;
    border-left: 3px solid lightgrey;
}

.htp-intro {
    margin: 0 0 10px 0;
    padding-bottom: 10px;
}

.no-x-padding {
    padding-left: 0;
    padding-right: 0;
}

.blocklist {
    td {
        vertical-align: middle !important;
    }
}

.glyphicon-remove {
    color: @brand-danger;
}

.card-settings {
    display: inline-block;

    margin-left: 5px;
    margin-right: 5px;
}

.announcement {
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.user-search {
    width: 200px;
}

.motd-button {
    margin-left: 15px;
    margin-top: 15px;
}
