#container {
  margin: 0 auto;
}

.navbar-right {
  margin-right: 0px;
}

.navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

.navbar-toggle {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
}

.navbar-nav > li > span {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}

@media (min-width: 768px) {
  .navbar-nav > li > span {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.spectators-popup {
  position: absolute;
  width: 115px;
  padding-left: 15px;
  list-style-type: none;
}
