.card-order {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 26px;
    left: 50%;
    line-height: 24px;
    margin: 0 0 0 -12px;
    position: absolute;
    text-align: center;
    top: -28px;
    width: 24px;
    z-index: @layer-card-menu;
}

.custom-card:hover .card-name {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: @layer-card-menu;
}

.upgrade {
    margin-top: -@upgrade-offset - @card-height;

    &.small {
        margin-top: -@upgrade-offset - @card-sm-height;
    }

    &.large {
        margin-top: -@upgrade-offset-lg - @card-lg-height;
    }

    &.x-large {
        margin-top: -@upgrade-offset-xl - @card-xl-height;
    }
}

.generate-upgrades(@n, @i: 1) when (@i =< @n) {
    .upgrade-@{i} {
        z-index: @layer-cards - @i;
    }
    .generate-upgrades(@n, (@i + 1));
}

.generate-upgrades(10, 1);

.card-type-faction.horizontal {
    margin: 10px 0 0 0;
}

.card-small {
    max-width: 30px;
}

.relative {
    position: relative;
}

.hover-card {
    position: fixed;
    top: 60px;
    left: 10px;
    z-index: @layer-top;
    min-width: @card-width * 4;
    min-height: @card-height * 4;
    pointer-events: none;

    &.horizontal {
        min-height: @card-width * 4;
        min-width: @card-height * 4;
    }
}

.card-cost-number {
    font-size: 2em;
}

.underneath {
    margin-left: 0;
    position: relative;
    z-index: @layer-cards - 1;

    margin-top: @underneath-offset - @card-height;

    &.small {
        margin-top: @underneath-offset - @card-sm-height;
    }

    &.large {
        margin-top: @underneath-offset-lg - @card-lg-height;
    }

    &.x-large {
        margin-top: @underneath-offset-xl - @card-xl-height;
    }
}

.identity {
    &.small {
        .house {
            width: 14px;
            height: 14px;
        }

        .id-house-1 {
            top: 38px;
            left: 1px;
        }

        .id-house-2 {
            top: 41px;
            left: 12px;
        }

        .id-house-3 {
            top: 38px;
            left: 25px;
        }

        .identity-text {
            font-size: 2px;
            left: 20px;
            top: 5px;
        }
    }

    &.large {
        .house {
            width: 28px;
            height: 28px;
        }

        .id-house-1 {
            top: 85px;
            left: 5px;
        }

        .id-house-2 {
            top: 97px;
            left: 29px;
        }

        .id-house-3 {
            top: 87px;
            left: 58px;
        }

        .identity-text {
            left: 47px;
            top: 10px;
            font-size: 4.5px;
        }
    }

    &.x-large {
        .house {
            height: 36px;
            width: 36px;
        }

        .id-house-1 {
            top: 125px;
            left: 6px;
        }

        .id-house-2 {
            top: 141px;
            left: 44px;
        }

        .id-house-3 {
            top: 129px;
            left: 83px;
        }

        .identity-text {
            font-size: 7px;
            left: 65px;
            top: 14px;
        }
    }

    .house {
        width: 18px;
        height: 18px;
        position: absolute;
    }

    .id-house-1 {
        top: 63px;
        left: 3px;
    }

    .id-house-2 {
        top: 68px;
        left: 22px;
    }

    .id-house-3 {
        top: 63px;
        left: 42px;
    }
}

.identity-icons {
    position: relative;

    z-index: @layer-cards + 1;
}

.id-zoom-container {
    position: relative;

    z-index: @layer-top + 1;

    .identity-text {
        font-size: 14.5px;
        left: 135px;
        top: 28px;
    }

    .house {
        width: 72px;
        height: 72px;
        position: absolute;
    }

    .id-house-1 {
        top: 250px;
        left: 17px;
    }

    .id-house-2 {
        top: 270px;
        left: 90px;
    }

    .id-house-3 {
        top: 260px;
        left: 168px;
    }
}

.identity {
    .card-wrapper {
        position: absolute;
    }
}
