.identity {
    &.small {
        .house {
            width: 14px;
            height: 14px;
        }

        .id-house-1 {
            top: 38px;
            left: 1px;
        }

        .id-house-2 {
            top: 41px;
            left: 12px;
        }

        .id-house-3 {
            top: 38px;
            left: 25px;
        }

        .identity-text {
            font-size: 2px;
            left: 20px;
            top: 5px;
        }
    }

    &.large {
        .house {
            width: 28px;
            height: 28px;
        }

        .id-house-1 {
            top: 85px;
            left: 5px;
        }

        .id-house-2 {
            top: 97px;
            left: 29px;
        }

        .id-house-3 {
            top: 87px;
            left: 58px;
        }

        .identity-text {
            left: 47px;
            top: 10px;
            font-size: 4.5px;
        }
    }

    &.x-large {
        .house {
            height: 36px;
            width: 36px;
        }

        .id-house-1 {
            top: 125px;
            left: 6px;
        }

        .id-house-2 {
            top: 141px;
            left: 44px;
        }

        .id-house-3 {
            top: 129px;
            left: 83px;
        }

        .identity-text {
            font-size: 7px;
            left: 65px;
            top: 14px;
        }
    }

    .house {
        width: 18px;
        height: 18px;
        position: absolute;
    }

    .id-house-1 {
        top: 63px;
        left: 3px;
    }

    .id-house-2 {
        top: 68px;
        left: 22px;
    }

    .id-house-3 {
        top: 63px;
        left: 42px;
    }
}
