.right-pane {
    margin-top: -20px;
}

.decklist {
    height: 200px;
}

.decklist > img {
    height: 100%;
    padding-right: 10px;
}

.cards-no-break {
    break-inside: avoid;
    border-radius: 4px 4px 0 0;
    background-color: fade(@brand-info, 5%);
    border: 1px solid rgba(71, 58, 56, 0.65);
    margin: 0 5px 10px 0;
}

.card-group {
    position: relative;
    padding: 10px;
    display: inline-block;
}

.card-group-title {
    background-color: @header-background;
    color: white;
    padding: 5px 1px;
    border: 1px solid @header-border;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    text-align: center;
    position: relative;
}

.cards {
    column-count: 2;
    margin: 5px;
}

@media (min-width: @screen-lg-min) {
    .cards {
        column-count: 3;
    }
}

.deck-row {
    min-height: 50px;
    border-radius: 4px;
    border-width: 1px;
    border-color: @brand-primary;
    border-style: solid;
    padding: 3px 5px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
}

.deck-row > img {
    height: 100%;
    padding-right: 10px;
}

.deck-row:hover {
    border-color: @brand-info;
    background-color: fade(@brand-info, 40%);
}

.deck-row.active {
    border-color: @brand-secondary;
    background-color: fade(@brand-secondary, 60%);
}

.select-button {
    margin-left: 10px;
}

.deck-date {
    padding-left: 0;
    font-size: smaller;
}

.deck-name {
    padding-left: 5px;
    padding-right: 0;
}

.deck-status-label {
    padding-right: 0;
    padding-left: 0;
}

.deck-factionagenda {
    padding-left: 5px;
    padding-right: 0;
    font-size: smaller;
}

.deck-card-image {
    width: 100%;
}

.deck-card {
    padding-left: 0;
    padding-right: 0;
}

.info-row {
    margin-left: 0;
    margin-right: 0;
}

.deck-status-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.deck-buttons {
    margin-bottom: 20px;
    padding-left: 0px;
}

.deck-mon {
    max-width: 140px;
    height: auto !important;
    padding-right: 10px;
}

.deck-house-icons {
    padding-left: 5px;
}

.deck-sm-house {
    max-width: 20px;
}

.deck-med-house {
    max-width: 50px;
    padding-right: 10px;
}

.deck-alliance-mon {
    max-width: 100px;
    height: auto !important;
    padding-right: 10px;
}
