// GENERAL
.game-board {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main-window {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: calc(~"100vh - 170px");
}

.card-pile {
  padding: 0px;
  position: relative;
  margin: 0px 5px;

  &.small {
    &.vertical {
      height: @card-sm-height;
      min-width: @card-sm-width;
    }

    &.horizontal {
      height: @card-sm-width;
      width: @card-sm-height;
    }
  }

  &.large {
    &.vertical {
      height: @card-lg-height;
      min-width: @card-lg-width;
    }

    &.horizontal {
      height: @card-lg-width;
      width: @card-lg-height;
    }
  }

  &.x-large {
    &.vertical {
      height: @card-xl-height;
      min-width: @card-xl-width;
    }

    &.horizontal {
      height: @card-xl-width;
      width: @card-xl-height;
    }
  }

  &.vertical {
    height: @card-height;
    min-width: @card-width;
  }

  &.horizontal {
    height: @card-width;
    width: @card-height;
  }

  .card-placeholder {
    height: @card-height;
  }
}

.player-home-row .card-pile.horizontal {
    margin-bottom: auto;
    margin-top: auto;
}

.popup {
  z-index: @layer-card-menu;
  background-color: rgba(0, 0, 0, 0.85);

  a {
    display: inline-block;
    margin: 0 10px 8px 0;
    text-decoration: none;

    &:hover {
      color: @brand-info;
      cursor: pointer;
    }
  }

  .panel {
    margin-bottom: 0;
  }

  .panel-title {
    margin: 5px 5px;
  }
}

.select-cursor {
  cursor: url(/img/crosshairs.cur), default;
}

.prompt-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.player-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-stats {
  display: flex;

  &.panel {
    margin: 0;
    border-radius: 0;
    padding: 10px 0 10px 5px;
    position: initial;
  }

  display: flex;
  align-items: center;
}


.state {
  height: 27px;
  padding-left: 5px;
  padding-right: 5px;
  border-right: solid 2px;
  display: flex;
  align-items: center;

  span {
    padding-right: 3px;
    padding-left: 3px;
  }

  &:last-of-type {
    border-right: none;
  }

  .glyphicon {
    color: @brand-primary;
  }
}

.btn-stat {
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  height: 22px;
  width: 22px;
  background-color: transparent;
}

.btn-stat:hover {
  background-color: @brand-info;
  border-color: @brand-info;
}

.btn-stat:focus {
  outline: 0px;
}

.deck-info {
  display: flex;
  flex-direction: column;
}

.card-pile {
  &.panel {
    top: 0px;
  }
}

.player-info.our-side .deck-info {
  justify-content: flex-end;
}

.deck-type {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.first-player-indicator {
  margin: 5px;
  padding: 5px;
  height: 48px;
  width: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  
  &.hidden {
      display: none;
    }
}

.imperial-favor {
 
  height: @card-height;
  width: @card-width;
  position: relative;
  justify-content: center;
  align-items: center;
  
  &.hidden {
      display: none;
  }
}

.middle {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.province-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.provinces-group {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;

  &.our-side {
    justify-content: flex-end;
  }
}

.arrow {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: 8px solid transparent;

  &.left {
    border-right-color: black;
  }

  &.right {
    border-left-color: black;
  }

  &.up {
    border-bottom-color: black;
  }

  &.down {
    border-top-color: black;
  }

  &.lg {
    border-width: 12px;
  }
}

.our-side {
  .province {
    .popup {
      bottom: -2px;
      top: initial;

      .arrow {
        bottom: 15px;
        top: initial;
      }
    }
  }

  .discard {
    .popup {
      bottom: 95px;
      top: initial;

      .arrow {
        bottom: -30px;
        top: initial;
      }
    }
  }
}

.additional-cards {
  .popup {
    position: absolute;
    bottom: 75px;
    right: 0;

    .inner {
      min-width: @card-height * 2 + (2 * 5px);
      min-height: @card-width * 2 + (2 * 5px);

      .card-wrapper {
        margin: 5px 5px 0 0;
      }
    }

    .arrow {
      bottom: -30px;
      right: 20px;
    }
  }
}

.province {
  padding: 0px;
  position: relative;
  margin: 10px 7px;

  &.vertical {
    height: @card-height;
    width: @card-width;
  }

  &.horizontal {
    height: @card-width;
    width: @card-height;
  }

  &.small {
    &.vertical {
      height: @card-sm-height;
      width: @card-sm-width;
    }

    &.horizontal {
      height: @card-sm-width;
      width: @card-sm-height;
    }

  }

  &.large {
    &.vertical {
      height: @card-lg-height;
      width: @card-lg-width;
    }

    &.horizontal {
      height: @card-lg-width;
      width: @card-lg-height;
    }
  }

  &.x-large {
    &.vertical {
      height: @card-xl-height;
      width: @card-xl-width;
    }

    &.horizontal {
      height: @card-xl-width;
      width: @card-xl-height;
    }
  }


  &.panel {
    margin-top: 0px;
    top: 0px;
  }
}

.province-merge {
  margin: 5px;

  .popup {
    position: absolute;
    min-height: 92px;
    min-width: 168px;
    left: 90px;
    top: -75px;

    .inner {
      columns: 2;
      min-height: 128px;

      .card-wrapper {
        margin: 5px 0 0 0;
      }
    }

    .arrow {
      left: -25px;
      top: 55px;
      bottom: initial;
    }
  }
}

.discard {
  .popup {
    position: absolute;
    min-height: 146px;
    bottom: initial;
    top: 95px;

    .inner {
      min-height: @card-height;
      width: @card-width * 5 + (5 * 5px) + @scrollbar-width;
      max-height: @card-height * 4 + (4 * 5px);
      overflow-y: auto;

      .card-wrapper {
        margin: 5px 5px 0 0;
      }
    }

    .arrow {
      bottom: initial;
      top: -63px;
      left: 10px;
    }
  }
}

.hand {
  .card-wrapper {
    margin: 0 5px 0 0;
  }
}

.hand {
  &.small {
    height: @card-sm-height;
  }

  &.large {
    height: @card-lg-height;
  }

  &.x-large {
    height: @card-xl-height;
  }

  height: @card-height;
  width:480px;
  padding: 0px;
  margin: 0px 5px;
}

.hand.squish .card-wrapper {
  position: absolute;
}

.draw {
  .popup {
    position: absolute;
    left: 0;
    bottom: 95px;

    .inner {
      width: @card-width * 7 + (7 * 5px) + @scrollbar-width;
      min-height: @card-height;
      max-height: @card-height * 4 + (4 * 5px);

      overflow-y: auto;

      .card-wrapper {
        margin: 5px 5px 0 0;
      }
    }
  }

  .arrow {
    bottom: -30px;
    left: 10px;
  }
}

.middle-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.inset-pane {
  position: absolute;
  width: 210px;
  z-index: 5000;
}

.inset-pane > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-pane-source {
  background: rgba(0, 0, 0, 0.65);
  border: 1px solid @header-border;
  font-size: 14px;
  font-weight: normal;
  margin: 0 5px;
  padding: 4px;
  text-align: center;
}

.menu-pane {
  text-align: center;
  z-index: @layer-prompt;
}

.menu-pane .panel {
  margin-top: 0;
  padding-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.menu-pane button {
  width: 100%;
  margin-bottom: 5px;
  white-space: normal;
}

.prompt-control-targeting {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.targeting-arrow {
  margin: 5px;
}

.target-card {
  border-radius: 6.25%;
  flex-shrink: 1;
  margin: 0 2px;
  max-height: @card-height;
  max-width: @card-width;
}

.target-card-image {
  max-height: @card-height;
  object-fit: contain;
  width: 100%;
}

.phase-indicator {
  margin: 5px;
  margin-bottom: 0;
  padding: 5px 0;
  border: 1px solid @header-border;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  background: @header-background;
  text-align: center;
  text-transform: uppercase;
  width: 200px !important;
  position: relative;
  font-weight: bold;
}

.hand-title-bar {
  margin: 5px;
  margin-bottom: 0;
  padding: 5px 0;
  border: 1px solid @header-border;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  background: @header-background;
  text-align: center;
  text-transform: uppercase;
  width: 480px !important;
  position: relative;
  font-weight: bold;
}

span.up-arrow {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;

  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid @brand-primary;
  left: 90px;

  top: -9px;
}

span.down-arrow {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;

  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 8px solid @brand-primary;
  left: 90px;

  top: -9px;
}

// CENTER
.center {
  flex-direction: column;
  display: flex;
}

.play-area, .player-board {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.player-board {
  margin: 10px;
}

.player-board.our-side > div:first-child {
  margin-top: auto;
}

.player-home-row {
  display: flex;
  margin-top: 5px;

  &.our-side {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.player-home-row-container {
  display: flex;
  z-index: 4999;
}

.player-deck-row {
  display: flex;
  margin-top: 5px;

  &.our-side {
    margin-top: 0;
    margin-bottom: 18px;
  }
}

.player-stronghold-row {
  display: flex;
  margin-top: 5px;

  &.our-side {
    margin-top: 0;
    margin-bottom: 18px;
  }
}

.deck-cards {
  display: flex;
}

.card-row, .hand {
  display: flex;
  justify-content: flex-start;
}

.card-row .card.horizontal {
  margin-bottom: @card-height - @card-width;
}

.player-board .card-wrapper {
  margin-right: 10px;
  margin-bottom: 5px;
}

//RIGHT SIDE
.right-side {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 312px;
}

.chat {
  width: 100%;
}

.game-status {
  margin-top: 10px;
}

.player-avatar {
  padding-right: 10px;
}

.board-middle {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.board-inner {
  flex: 1;
  display: flex;
}

.close-button {
  color: @foreground-color;
  margin-bottom: 0 !important;
  vertical-align: middle !important;
}

.settings-popup {
  background: @background-color;

  .modal-header {
    background: @brand-tertiary;
  }
}

.close {
  color: @foreground-color;

  :hover {
    color: @brand-info;
  }
}

.modal-title {
  text-align: center;
}

.honor-fan {
  margin: 5px;
  padding: 5px 10px;
}

img.honor-fan-value {
  background-image: url(/img/honorfan.png);
}

.ring-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ring-panel {
  width: 150px;
  height: 300px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.ring-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  width: 150px; 
}

.ring {
  position: relative;
  flex: 1;  
}

.ring-info {
  flex: 1;
  font-size: 12px;
}

img.ring {
  height: @ring-height;
  width: @ring-width;
  padding: 5px;

  &.small {
    height: @ring-sm-height;
  width: @ring-sm-width;
  }
}

.placeholder {
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px;
  box-shadow: none;
  padding: 0px;
  position: relative;
  margin: 5px 7px;

  &.vertical {
    height: @card-height;
    width: @card-width;
  }

  &.horizontal {
    height: @card-width;
    width: @card-height;
  }
}

div.placeholder {
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px;
  box-shadow: none;
}

div.placeholder .panel-header {
  background: rgba(0, 0, 0, 0.0);
  padding: 0px;
}

.placeholder {
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px;
  box-shadow: none;
  padding: 0px;
  position: relative;
  margin: 5px 7px;

  &.vertical {
    height: @card-height;
    width: @card-width;
  }

  &.horizontal {
    height: @card-width;
    width: @card-height;
  }
}

.province-deck {
  margin: 5px;
  //display: flex;
  //flex: 1;
  //flex-direction: column;
  //justify-content: flex-end;

  &.our-side {
    justify-content: flex-start;
  }
 
  .popup {
    position: absolute;
    min-height: 92px;
    min-width: 168px;
    left: 90px;
    top: -75px;

    .inner {
      columns: 2;
      min-height: 128px;

      .card-wrapper {
        margin: 5px 0 0 0;
      }
    }

    &.hidden {
      display: none;
    }

  }
}

.message {
  .alert {
    padding: 5px;
    margin-bottom: 0;
  }
}

.separator {
  text-transform: capitalize;
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}