@font-face {
  font-family: thronesdb;
  src: url('/fonts/thronesdb.ttf');
}

.icon-military {
  font-family: 'thronesdb';

  &:before {
    content: "\e605";
    color: #C72229;
  }
}

.icon-intrigue {
  font-family: 'thronesdb';

  &:before {
    content: "\e602";
    color: #05552F;
  }
}

.icon-power {
  font-family: 'thronesdb';

  &:before {
    content: "\e607";
    color: #2A2E5E;
  }
}

.icon-baratheon {
  font-family: 'thronesdb';

  &:before {
    content: "\e600";
  }
}

.icon-greyjoy {
  font-family: 'thronesdb';

  &:before {
    content: "\e601";
  }
}

.icon-lannister {
  font-family: 'thronesdb';

  &:before {
    content: "\e603";
  }
}

.icon-martell {
  font-family: 'thronesdb';

  &:before {
    content: "\e604";
  }
}

.icon-thenightswatch {
  font-family: 'thronesdb';

  &:before {
    content: "\e606";
  }
}

.icon-stark {
  font-family: 'thronesdb';

  &:before {
    content: "\e608";
  }
}

.icon-targaryen {
  font-family: 'thronesdb';

  &:before {
    content: "\e609";
  }
}

.icon-tyrell {
  font-family: 'thronesdb';

  &:before {
    content: "\e60a";
  }
}
