.game-icon {
  padding-left: 0px;
  padding-right: 0px;

  font-size: 1.6em;

  vertical-align: middle;

  margin-top: -5px;
  max-width: 24px;
  max-height: 24px;
}

.icon-amber {
  height: 12px;
  width: 12px;
  margin-top: -4px;
}

.icon-card {
  height: 16px;
  width: 12px;
  margin-top: -4px;
}

.icon-forgedKey {
  height: 12px;
  width: 12px;
  margin-top: -4px;
}

.button-icon {
  width: 24px;
  height: 24px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
}

.chat-house-icon {
  height: 12px;
  width: 12px;
}

.icon-brobnar {
  background-image: url("/img/house/brobnar.png");
}

.icon-dis {
  background-image: url("/img/house/dis.png");
}

.icon-logos {
  background-image: url("/img/house/logos.png");
}

.icon-sanctum {
  background-image: url("/img/house/sanctum.png");
}

.icon-shadows {
  background-image: url("/img/house/shadows.png");
}

.icon-mars {
  background-image: url("/img/house/mars.png");
}

.icon-untamed {
  background-image: url("/img/house/untamed.png");
}

.icon-unforgedkeyred {
  background-image: url("/img/unforgedkeyred.png");
}
.icon-unforgedkeyblue {
  background-image: url("/img/unforgedkeyblue.png");
}
.icon-unforgedkeyyellow {
  background-image: url("/img/unforgedkeyyellow.png");
}