@import '~bootstrap/less/bootstrap';
@import '~bootstrap-slider/src/less/variables';
@import '~bootstrap-slider/src/less/rules';
@import 'variables';
@import 'icons';
@import 'application';
@import 'common';
@import 'chat';
@import 'deckbuilder';
@import 'gamelist';
@import 'gameboard';
@import 'cards';
@import 'buttons';
@import 'panels';

@font-face {
    font-family: 'Keyforge';
    src: url('../public/fonts/Oswald-Regular.ttf') format('truetype'),
        url('../public/fonts/Kanit-Regular.ttf') format('truetype'),
        url('../public/fonts/ZCOOL-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: @background-color;
    color: @foreground-color;
}

pre {
    background-color: rgba(0, 0, 0, 0.65);
    color: @brand-primary;
    border: none;
}

.body,
.container,
#component {
    height: 100%;
}

@media (min-width: @screen-lg-min) {
    .full-height {
        height: 100%;
    }
}

h1 {
    font-size: 24px;
    color: white;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

.bg-board-brobnar {
    background-image: url('../public/img/bgs/brobnar.png');
}

.bg-board-dis {
    background-image: url('../public/img/bgs/dis.png');
}

.bg-board-logos {
    background-image: url('../public/img/bgs/logos.png');
}

.bg-board-mars {
    background-image: url('../public/img/bgs/mars.png');
}

.bg-board-sanctum {
    background-image: url('../public/img/bgs/sanctum.png');
}

.bg-board-shadows {
    background-image: url('../public/img/bgs/shadows.png');
}

.bg-board-untamed {
    background-image: url('../public/img/bgs/untamed.png');
}

.bg-board-staralliance {
    background-image: url('../public/img/bgs/staralliance.png');
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar-sm {
    min-height: @navbar-height;
    height: @navbar-height;
}

.navbar-brand {
    background-image: url('../public/img/header_icon.png');
    background-repeat: no-repeat;
    background-position-x: center;
    width: 72px;
    background-origin: content-box;
    padding-top: 5px;
}

.navbar-sm .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: @navbar-height;
}

.navbar-sm .navbar-nav > li > span {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: @navbar-height;
}

a {
    color: @brand-secondary;

    &:hover {
        color: @brand-info;
        text-decoration: none;
    }

    text-decoration: none;
}

.rbt-input {
    & > div {
        width: 100%;

        & > div {
            width: 100%;

            & > div {
                width: 100%;

                & > input {
                    width: 100% !important;
                }
            }
        }
    }
}

.btn-transparent {
    background-color: transparent;
}

.navbar {
    .container {
        padding-right: 0;
    }
}

.navbar-nav {
    li {
        .glyphicon {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.pages-enter {
    opacity: 0;
}

.pages-enter.pages-enter-active {
    opacity: 1;
    transition: opacity 600ms ease-in-out;
}

.pages-leave {
    opacity: 0;
}

.pages-leave.pages-leave-active {
    opacity: 1;
    transition: opacity 600ms ease-in-out;
}

.rrt-message {
    background: @background-color !important;
}

.rrt-confirm {
    background: @brand-primary !important;
}

.no-padding {
    padding: 0;
}

.bold {
    font-weight: bold;
    color: white;
}

.slider.slider-horizontal {
    width: 100%;
}

.text-left {
    text-align: left !important;
}

.navbar-collapse {
    background-color: @navbar-inverse-bg;
    color: white;
}

.list {
    list-style: none;
    margin: 0;
}

.server-status {
    display: flex !important;

    span {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
