@import "~bootstrap/less/bootstrap";

@brand-primary: green;

body {
  padding-top: 75px;
  background-color: #1E1E1E;
  color: #C1C2C3
}

.navbar-right {
  margin-right: 0px;
}

.right-pane {
  margin-top: -20px;
}

.decklist {
  height: 200px;
}

.decklist > img {
  height: 100%;
  padding-right: 10px;
}

.bootstrap-typeahead-input-main {
  background: white !important;
}

.hover-image {
  position: fixed;
  left: 10px;
  top: 60px;
  z-index: 9999;
}

.card-group {
  break-inside: avoid;
}

.cards {
  column-count: 2;
}

.card-name {
  cursor: pointer;
  cursor: hand;
  color: @brand-primary;
}

.card-name:hover {
  color: @brand-info;
}

.deck-list {
  margin-top: 20px;
}

.deck-row {
  height: 50px;
  border-radius: 4px;
  border-width: 1px;
  border-color: @brand-primary;
  border-style: solid;
  padding: 3px 5px;
  margin-bottom: 5px;
}

.deck-row > img {
  height: 100%;
  padding-right: 10px;
}

.deck-row:hover {
  border-color: @brand-info;
}

.deck-row.active {
  border-color: @brand-danger;
  color: @brand-danger;
}

.button-row {
  margin-top: 10px;
}

.button-row > button {
  margin-right: 10px;
}

.game-list {
  margin-top: 10px;
}

.game-row {
  height: 50px;
  border-radius: 4px;
  border-width: 1px;
  border-color: @brand-primary;
  border-style: solid;
  padding: 3px 5px;
  margin-bottom: 5px;
}

.game-row:hover {
  border-color: @brand-info;
}

.game-row.active {
  border-color: @brand-danger;
  color: @brand-danger;
}

.game-row > button {
  margin-top: 4px;
}

.button-row {
  margin-right: 10px;
}

.deck-link {
  cursor: pointer;
  cursor: hand;
  color: @brand-primary;
  margin-left: 10px;
}

.deck-link:hover {
  color: @brand-info;
}

.popup {
  color: #1E1E1E;
  background-color: #999999;
}

.deck-selection {
  margin-left: 10px;
  padding: 6px 12px;
  border: 1px solid black;
  border-radius: 4px;
  background: @brand-primary;
  color: white;
}

.player-row {
  margin-top: 15px;
}

.game-board {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 55px;
  display: flex;
  justify-content: space-between;
}

.main-window {
  display: flex;
  flex-direction: column;
}

.player-home-row {
  display: flex;
  height: 120px;
}

.panel {
  position: relative;
  background-color: rgba(0, 0, 0, 0.85);
  margin: 5px;
  padding: 5px 10px;
}

.hand {
  width: 548px;
  padding: 0px;
}

.middle {
  display: flex;
  flex: 1;
}

.left-side {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-side > div {
  width: 100%;
}

.state > div {
  height: 20px;
}

.card {
  width: 78px;
  display: inline-block;
}

.plot-card {
  height: 78px;
  display: inline-block;
}

.card > img, .agenda > img, .card-large > img, .plot-deck-card > img {
  width: 100%;
}

.plot > img, .plot-card > img, .discard-plot > img {
  height: 100%;
}

.discard, .draw, .faction, .agenda {
  position: relative;
  width: 78px;
  padding: 0px;
}

.plot {
  position: relative;
  height: 110px;
  transform: rotate(90deg);
  margin-left: 25px;
  padding: 0px;
}

.right-side {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-large {
  width: 220px;
  height: 307px;
  position: relative;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 4px;
}

.inset-pane {
  display: flex;
  flex-direction: column;
  width: 210px;
  justify-content: space-between;
}

.inset-pane > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-pane button {
  width: 100%;
  margin-bottom: 5px;
}

h4 {
  font-size: 14px;
}

.play-area, .player-board {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.player-board.our-side {
  margin: 10px;
}

.our-side > div:first-child {
  margin-top: auto;
}

.plot-popup {
  position: absolute;
  transform: rotate(-90deg);
  width: 256px;
  min-height: 92px;
  bottom: -40px;
  left: -300px;
}

.plot-card.selected {
  border: 2px solid @brand-primary;
  border-radius: 4px;
}

.discard-plot {
  height: 110px;
  transform: rotate(90deg);
  padding: 0px;
  width: 78px;
  margin-left: 20px;
  margin-bottom: -25px;
}

.plots-pane {
  display: flex;
  flex-direction: column;
  width: 110px;
  justify-content: space-between;
  padding-left: 5px;
}

.plot-deck-card {
  margin-left: 4px;
  margin-bottom: -17px;
  width: 110px;
  height: 78px;
  padding: 0px;
}