bower_components
node_modules
!public/banner
dist
typings
coverage
*.log
server/events.txt
.DS_Store
config/local*
server/logs/*.gz
build/
!tsconfig.json
data
mongodb

/.idea/
server/game/partialcards
server/game/generatedcards
