bower_components
node_modules
public/*
!public/banner
dist
typings
coverage
*.log
*.json
!client/il18n-locales/*.json
server/events.txt
.DS_Store
config/local*
server/logs/*.gz
build/
!tsconfig.json
data
mongodb

/.idea/
server/game/partialcards
server/game/generatedcards
