language: node_js
node_js:
  - "6.1"
env:
  - CXX=g++-4.9
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.6
    packages:
    - gcc-4.9
    - g++-4.9 
script:
  - npm test
  - npm run lint