version: "3.3"
services:
  lobby:
    restart: always
    build:
      context: .
    image: keyteki-lobby
    ports:
      - "4000:4000"
      - "9229:9229"
    links:
      - mongo
    depends_on:
      - mongo
    command:
      - node
      - "--inspect=0.0.0.0:9229"
      - "."
  node:
    restart: always
    build:
      context: .
      dockerfile: ./server/gamenode/Dockerfile
    image: keyteki-node
    ports:
      - "9500:9500"
      - "9339:9339"
    command:
      - node
      - "--inspect=0.0.0.0:9339"
      - "server/gamenode"      
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodb:/data/db
volumes:
  mongodb:
  node_modules:
