$body-bg: #0e0b10;
$body-color: #c1c2c3;

$theme-colors: (
    'primary': #321b47,
    'secondary': #009648,
    'dark': rgba(0, 0, 0, 0.8),
    'emphasis': #dc4787
);

$controlled-border-color: #ffdf14;
