@font-face {
    font-family: 'Keyforge';
    src: url('~assets/fonts/Oswald-Regular.ttf') format('truetype'),
        url('~assets/fonts/Kanit-Regular.ttf') format('truetype'),
        url('~assets/fonts/ZCOOL-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
