doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description' content='Play A Game Of Thrones LCG Second Edition in your browser')
    title The Iron Throne - Play A Game Of Thrones LCG in your browser
  body
    block content
    if !production
      script(src='/bundle.js')
    else
      script(src='/bundle.min.js')
