@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.menu-pane-source {
    margin-top: -1.25rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    background: theme-color('primary');
    border: 1px solid $header-border;
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
    text-align: center;
    border-top: none;
}

.menu-pane {
    text-align: center;
    z-index: $layer-prompt;
    margin-top: 1.25rem;

    .panel {
        margin-top: 0;
        padding-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    button {
        width: 100%;
        margin-bottom: 5px;
        white-space: normal;
    }
}

.prompt-button {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    color: white;
}

.phase-indicator {
    text-transform: uppercase;
}

.icon-unforgedkeyred {
    background-image: url('~assets/img/unforgedkeyred.png');
}

.icon-unforgedkeyblue {
    background-image: url('~assets/img/unforgedkeyblue.png');
}

.icon-unforgedkeyyellow {
    background-image: url('~assets/img/unforgedkeyyellow.png');
}

.icon-forgedkeyred {
    background-image: url('~assets/img/forgedkeyred.png');
}

.icon-forgedkeyblue {
    background-image: url('~assets/img/forgedkeyblue.png');
}

.icon-forgedkeyyellow {
    background-image: url('~assets/img/forgedkeyyellow.png');
}

.icon-forgedKey {
    height: 12px;
    width: 12px;
    margin-top: -4px;
}
