@use '../../styles/variables' as *;
@use '../../styles/colours' as *;

.hover-image {
    position: fixed;
    top: 0px;
    left: 0px;
    width: $keyteki-card-width * 4;
    z-index: 999;
}

.card-image canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}
