@use '../../styles/variables' as *;
@use '../../styles/colours' as *;

.card-list {
    .card-wrapper {
        margin: 0;
    }
}

.card-list-title {
    background-color: app-color('primary');
    color: white;
    margin-bottom: 5px;
    text-align: center;
}

.card-list-cards {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
}


