@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.counters {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: $layer-cards + 1;
}

.game-card.vertical .counters {
    flex-direction: column;

    &.many-counters {
        flex-direction: row;
    }
}

.game-card.horizontal .counters {
    flex-direction: row;

    &.many-counters {
        flex-direction: column;
    }
}

.counter {
    padding: 0;
    font-size: 10px;
    width: 25px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    margin: 2px;
    text-shadow: -0.5px -0.5px 2px #000, 0.5px -0.5px 2px #000, -0.5px 0.5px 2px #000,
        0.5px 0.5px 2px #000;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.fade-out {
        opacity: 0.7;
    }

    &.cancel {
        position: relative;

        &:after {
            border-bottom: 0.17em solid theme-color(danger);
            content: '';
            left: 0;
            margin-top: calc(0.17em / 2 * -1);
            position: absolute;
            right: 0;
            top: 50%;
        }
    }
}

.amber {
    background-image: url('~assets/img/amber.png');
}

.armor {
    background-image: url('~assets/img/armor.png');
}

.damage {
    background-image: url('~assets/img/damage.png');
}

.disruption {
    background-image: url('~assets/img/disruption.png');
}

.doom {
    background-image: url('~assets/img/doom.png');
}

.enrage {
    background-image: url('~assets/img/enrage.png');
    line-height: 21px;
}

.fuse {
    background-image: url('~assets/img/fuse.png');
}

.glory {
    background-image: url('~assets/img/glory.png');
}

.growth {
    background-image: url('~assets/img/growth.png');
}

.power {
    background-image: url('~assets/img/power.png');
    padding-left: 3px;
}

.scheme {
    background-image: url('~assets/img/scheme.png');
}

.stun {
    background-image: url('~assets/img/stun.png');
}

.ward {
    background-image: url('~assets/img/ward.png');
    line-height: 21px;

    &.broken {
        content: 'X';
        color: red;
        font-size: 28px;
        padding-top: 2px;
    }
}

.warrant {
    background-image: url('~assets/img/warrant.png');
}
