@use '../../styles/variables' as *;
@use '../../styles/colours' as *;

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: $layer-top;
    opacity: 0.5;

    pointer-events: none;

    &.drop-ok {
        background-color: app-color(success);
    }

    &.can-drop {
        background-color: app-color(warning);
    }

    &.no-drop {
        background-color: app-color(danger);
    }

    &.play.area {
        z-index: $layer-player-board-overlay;
    }
}


