.chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;

    .messages {
        padding: 5px;
    }
}

.gamechat {
    overflow-y: hidden;
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
