@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.game-board {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: $navbar-height;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &.select-cursor {
        cursor: url('~assets/img/crosshairs.cur'), default;
    }

    .card {
        position: relative;
        margin: 5px;
    }

    .menu {
        position: absolute;
        margin-left: 10px;
    }
}

.main-window {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}

.board-middle {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: hidden;
    width: 100%;
}

.board-inner {
    flex: 1;
    display: flex;
    min-height: 0;
    overflow-x: hidden;
}

.right-side {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.prompt-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.play-area {
    overflow-x: auto;
}

.play-area,
.player-board {
    .drop-target {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin: 10px;
    }

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: 0;
}

.player-board {
    margin: 10px;

    .taunt {
        margin-top: 15px;
    }

    border-bottom: 2px dashed theme-color(primary);

    &.our-side {
        margin: 0;

        .taunt {
            margin-top: -15px;
        }

        border-bottom: none;
    }
}

.stats-top {
    .panel {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.player-home-row {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.inset-pane {
    display: flex;
    flex-direction: column;
    width: 210px;
    justify-content: space-between;
    margin-right: 5px;
}

.inset-pane > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}
