.icon-brobnar {
    background-image: url('~assets/img/house/brobnar.png');
}

.icon-dis {
    background-image: url('~assets/img/house/dis.png');
}

.icon-logos {
    background-image: url('~assets/img/house/logos.png');
}

.icon-sanctum {
    background-image: url('~assets/img/house/sanctum.png');
}

.icon-shadows {
    background-image: url('~assets/img/house/shadows.png');
}

.icon-mars {
    background-image: url('~assets/img/house/mars.png');
}

.icon-untamed {
    background-image: url('~assets/img/house/untamed.png');
}

.icon-saurian {
    background-image: url('~assets/img/house/saurian.png');
}

.icon-staralliance {
    background-image: url('~assets/img/house/staralliance.png');
}

.icon-unfathomable {
    background-image: url('~assets/img/house/unfathomable.png');
}

.icon-ekwidon {
    background-image: url('~assets/img/house/ekwidon.png');
}

.button-icon {
    width: 24px;
    height: 24px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5px;
}

.house-icon-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    div {
        cursor: pointer;

        &:hover {
            background-color: theme-color(primary);
        }

        &.disabled {
            opacity: 0.4;

            &:hover {
                background-color: initial;
            }
        }
    }
}
