@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';

.identity-zoom {
    position: fixed;
    top: 0px;
    left: 0px;
    width: $keyteki-card-width * 6;
    z-index: 999;
}

.link {
    cursor: pointer;
    cursor: hand;
    color: theme-color(secondary);
}
