@use '../../styles/variables' as *;
@use '../../styles/colours' as *;

.identity-zoom {
    position: fixed;
    top: 0px;
    left: 0px;
    width: $keyteki-card-width * 6;
    z-index: 999;
}

.link {
    cursor: pointer;
    cursor: hand;
    color: theme-color(secondary);
}

