@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.panel-heading {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.close-button {
    color: $body-color;
    margin-bottom: 0 !important;
    vertical-align: middle !important;
}

.panel-primary {
    border-color: theme-color(primary);

    .panel-heading {
        background-image: url('~assets/img/panel-primary.png');
        border-color: theme-color(primary);
    }
}

.panel-body {
    padding: 15px;
}
