@use '../../styles/variables' as *;
@use '../../styles/colours' as *;

.panel-heading {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-heading .text-center {
    flex: 1;
    text-align: center;
}

.panel-heading .float-right {
    margin-left: auto;
}

.close-button {
    color: $body-color;
    margin-bottom: 0 !important;
    vertical-align: middle !important;
}

.panel-primary {
    border-color: theme-color(primary);

    .panel-heading {
        background-image: url('assets/img/panel-primary.png');
        border-color: theme-color(primary);
    }
}

.panel-body {
    padding: 15px;
}
