@use '../../styles/variables' as *;
@use '../../styles/colours' as *;

.card-row {
    display: flex;
    justify-content: flex-start;
    min-height: 0;
    &.creatures {
        margin: 0 auto;
    }
}

.card-row .card.horizontal {
    margin-bottom: $keyteki-card-height - $keyteki-card-width;

    &.small {
        margin-bottom: $keyteki-card-sm-height - $keyteki-card-sm-width;
    }

    &.large {
        margin-bottom: $keyteki-card-lg-height - $keyteki-card-lg-width;
    }

    &.x-large {
        margin-bottom: $keyteki-card-xl-height - $keyteki-card-xl-width;
    }
}

.player-board .card-wrapper {
    margin-right: 10px;
    margin-bottom: 5px;
}

.board-low-tide {
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0) 50%, rgba(255, 143, 42, 0.6));
}

.our-side.board-low-tide {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, rgba(255, 143, 42, 0.6));
}

.board-high-tide {
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0) 50%, rgba(87, 218, 212, 0.6));
}

.our-side.board-high-tide {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, rgba(87, 218, 212, 0.6));
}

