@use '../../styles/variables' as *;
@use '../../styles/colours' as *;

.player-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

    &.panel {
        margin: 0;
        border-radius: 0;
        padding: 5px;
        position: initial;
    }
}

.inactive-player {
    opacity: 0.2;
}

.inactive-player:before {
    content: '\25B6';
    color: rgba(0, 0, 0, 0.85);
}

.player-info {
    display: flex;
}

.player-info b {
    margin-top: 1px;
}

.state {
    height: 30px;
    padding-left: 7px;
    padding-right: 7px;
    border-right: dotted 2px #324e8e;
    display: flex;
    align-items: center;
    min-width: fit-content;

    &.on {
        opacity: 1;
    }

    a {
        color: $body-color;
    }

    a:hover {
        color: theme-color('secondary');
    }

    span {
        padding-right: 3px;
        padding-left: 3px;
    }

    &:last-of-type {
        border-right: none;
    }

    img {
        height: 100%;

        &:not(:last-child) {
            margin-right: 2px;
        }
    }

    &.first-player {
        margin: 0px 5px;
        padding: 5px;
        text-align: center;
        background: theme-color('primary');
        border-radius: 0.25rem;
        border: 1px solid rgba(128, 128, 128, 0.53);
    }

    .gravatar {
        margin-left: 3px;
    }
}

.stat-image {
    background-repeat: no-repeat;
    margin-left: 2px;
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;

    &.amber {
        background-image: url('assets/img/amber.png');
    }

    &.chains {
        background-image: url('assets/img/chains.png');
    }

    &.keyCost {
        background-image: url('assets/img/keyCost.png');
    }

    &.tide {
        height: 100%;
    }

    &.expansion {
        height: 100%;
    }
}

.stat-value {
    font-family: Bombardier, serif;
    font-size: 1.8rem;
}

.active-player {
    .state svg {
        color: white;
    }
}

.active-player:before {
    content: '\25B6';
    color: theme-color('secondary');
}

.chat-status {
    position: absolute;
    right: 10px;
}

.inactive-house {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.unforged-key {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

