.squishable-card-panel {
    display: flex;
    justify-content: flex-start;
    margin: 0px 5px;
    min-height: 0;
    padding: 0px;
    position: relative;

    .card-wrapper {
        margin: 0 5px 0 0;
    }

    &.hand {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.squishable-card-panel.squish .card-wrapper {
    position: absolute;
}
