@import "sidebar/honor-fan";
@import "sidebar/province-deck";
@import "sidebar/rings";

.province-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    max-width: 200px;
}
