.img-noenhance {
    opacity: 0.4;
}

.enhancement {
    height: 16px;
    width: 16px;
}

.enhancement-lg {
    height: 32px;
    width: 32px;
}

table.enhancements {
    td {
        border-top: none;
        padding: 0.25rem;
    }
}
