.spectators-popup {
    position: absolute;
    width: 115px;
    list-style-type: none;
}

.absolute-panel {
    background-color: rgba(0, 0, 0, 0.85);
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid rgba(71, 58, 56, 0.95);
    overflow: visible;
}
