.ping-good {
    color: #009648;
}

.ping-mid {
    color: darkorange;
}

.ping-bad {
    color: #e74c3b;
}

.ping-neutral {
    color: #ffffff;
}

.server-status {
    display: flex !important;

    span {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
