apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: game-node
  namespace: {{ .Values.namespace }}
spec:
  entryPoints:
    - web
    - websecure
  routes:
  {{- range $i, $e := until 10 }}
  {{- if eq $.Values.environment "production" }}
    - match: Host(`thecrucible.online`) && PathPrefix(`/node-{{$i}}/socket.io`)
  {{- else }}
    - match: Host(`{{ $.Values.environment }}.thecrucible.online`) && PathPrefix(`/node-{{$i}}/socket.io`)
  {{- end }}
      kind: Rule
      services:
        - name: node-{{$i}}
          port: 80
  {{- end }}
