@use '../../styles/variables' as *;
@use '../../styles/colours' as *;

.profile-avatar {
    width: 24px;
    height: 24px;
}

.profile-submit {
    position: sticky;
    bottom: 10px;
    background-color: theme-color('primary');
    z-index: $layer-top;
}

.profile-form {
    .card {
        margin-top: 10px;
    }
}

