@use '../../styles/colours' as *;
@use '../../styles/fonts' as *;

.card {
    font-family: Keyforge, Helvetica, sans-serif;
    box-shadow: 3px 3px 5px theme-color('primary') !important;
    background-color: theme-color('dark');
    color: theme-color('light');
    --bs-card-bg: #{theme-color('dark')};
    --bs-card-color: #{theme-color('light')};
    --bs-card-cap-color: #{theme-color('light')};

    .card-header {
        font-weight: normal;
        background-size: cover;
        color: theme-color('light');
    }

    &.border-primary {
        .card-header {
            background-image: url('assets/img/panel-primary.png');
            border-color: theme-color('primary');
            background-position: center;
        }
    }
}

.keyteki-panel {
    border: none;
}

.card.bg-dark {
    background-color: theme-color('dark') !important;
    color: theme-color('light') !important;
}

