# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Build, test and package

on:
    push:
        branches: ['master']
        paths-ignore:
            - '.github/workflows/**'
    pull_request:
        branches: ['master']
        paths-ignore:
            - '.github/workflows/**'

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [14.x, 16.x]
                # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

        steps:
            - name: Checkout source and submodules
              uses: actions/checkout@v3
              with:
                  fetch-depth: '0'
                  submodules: recursive
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'
            - name: Install GitVersion
              uses: gittools/actions/gitversion/setup@v0.9.14
              with:
                  versionSpec: 5.x
            - id: determine_version
              name: Determine Version
              uses: gittools/actions/gitversion/execute@v0.9.14
              with:
                  additionalArguments: /overrideconfig mode=Mainline
            - run: npm ci
            - run: npm run lint
            - name: Build client
              env:
                  VERSION: ${{ steps.determine_version.outputs.semVer }}
              run: npm run build --if-present
            - run: npm test
