name: Package
on:
    workflow_run:
        workflows: ['Build, test and package']
        branches: ['master', 'pack/**']
        types: completed

jobs:
    package:
        # `if` required because a workflow run is triggered regardless of
        # the result of the previous workflow (see the documentation page)
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        runs-on: ubuntu-latest
        steps:
            - name: Checkout source and submodules
              uses: actions/checkout@v3
              with:
                  fetch-depth: '0'
                  submodules: recursive
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v2
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2
            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_PASSWORD }}
            - uses: actions/setup-node@v3
              with:
                  node-version: lts/*
            - name: Install GitVersion
              uses: gittools/actions/gitversion/setup@v0.9.14
              with:
                  versionSpec: 5.x
            - id: determine_version
              name: Determine Version
              uses: gittools/actions/gitversion/execute@v0.9.14
              with:
                  additionalArguments: /overrideconfig mode=Mainline
            - name: Build and push lobby
              uses: docker/build-push-action@v3
              with:
                  build-args: |
                      "VERSION=${{ steps.determine_version.outputs.semVer }}"
                  push: true
                  tags: cryogen/keyteki-lobby:latest, cryogen/keyteki-lobby:${{ steps.determine_version.outputs.semVer }}
            - name: Build and push node
              uses: docker/build-push-action@v3
              with:
                  build-args: |
                      "VERSION=${{ steps.determine_version.outputs.semVer }}"
                  push: true
                  file: server/gamenode/Dockerfile
                  tags: cryogen/keyteki-node:latest, cryogen/keyteki-node:${{ steps.determine_version.outputs.semVer }}
