@import '../../styles/variables';
@import '../../styles/colours';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.news-item {
    color: theme-color('secondary');

    &:first-child {
        color: theme-color('emphasis');
        border-top: 1px dotted theme-color('primary');
        background: #dc478730;
        text-shadow: 1px 1px 1px black;
    }

    .news-icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
        text-align: center;
        height: 18px;
        min-width: 18px;
        margin: 2px 2px 0 5px;
    }

    display: flex;
    padding: 6px 0;
    line-height: 1.1rem;
    border-bottom: 1px dotted theme-color('primary');
}

.unforged-red {
    background-image: url('..\../assets/img/unforgedkeyred.png');
}

.unforged-blue {
    background-image: url('..\../assets/img/unforgedkeyblue.png');
}

.unforged-yellow {
    background-image: url('..\../assets/img/unforgedkeyyellow.png');
}
